<a href="https://colab.research.google.com/github/anjali88/Basic-ML-/blob/master/Pushpanjali_banik_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#Excersise 1.1 
##import libaries for series
import numpy as np
import pandas as pd

#create series by passing values and create custom indexes
#Labelled index reference for each row, may have multiple values
P = pd.Series ([1,2,3,4,5,np.nan], index=['a','b','c','d','e','f'])

print ("Pandas Series from value list and index list: ")
print (P)

Pandas Series from value list and index list:
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [8]:
#convert dictornary using keys from the index
sample_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e': 5, 'f':np.nan}
sample_dict

B = pd.Series(sample_dict)
print ("Pandas series from dictonary")
print(B)

Pandas series from dictonary
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [9]:
#create series by passing in other functions
series1 = pd.Series(np.arange(-10,10,2))

#series is created with assigned index in numerical order
series1

0   -10
1    -8
2    -6
3    -4
4    -2
5     0
6     2
7     4
8     6
9     8
dtype: int64

In [10]:
#pass in list and define datatype to create series
series_list = pd.Series(list('1234'))#,dtype=int)
series_list

0    1
1    2
2    3
3    4
dtype: object

In [11]:
#change datatype
series_list = series_list.astype(str)

#call the values of a series
series_list.values

array(['1', '2', '3', '4'], dtype=object)

In [12]:
#create series using timeseries information
time_eg = pd.Series(index=pd.date_range('20191101',periods=4,freq='M'))
time_eg

2019-11-30   NaN
2019-12-31   NaN
2020-01-31   NaN
2020-02-29   NaN
Freq: M, dtype: float64

In [13]:
#pass own index values as series is created
series3 = pd.Series(np.arange(0,4),index=['I','II','III','IV'])
series3

I      0
II     1
III    2
IV     3
dtype: int64

In [14]:
#pass own index after series is created
#create series
series3 = pd.Series(['IV','III','II','I'])
series3

0     IV
1    III
2     II
3      I
dtype: object

In [15]:
#add the index
series1.index=['I','II', 'III','IV','V','VI','VII','VIII','IX','X']
series1

I      -10
II      -8
III     -6
IV      -4
V       -2
VI       0
VII      2
VIII     4
IX       6
X        8
dtype: int64

In [16]:
#name own series
series3.name = 'series3'
series3

0     IV
1    III
2     II
3      I
Name: series3, dtype: object

In [17]:
#set index name
series3.index.name = 'digits'
series3

digits
0     IV
1    III
2     II
3      I
Name: series3, dtype: object

In [18]:
#if index is a range: index characteristics
series3.index

RangeIndex(start=0, stop=4, step=1, name='digits')

In [19]:
# or if its object
series1.index

Index(['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'], dtype='object')

In [20]:
# also if values
series3.values

array(['IV', 'III', 'II', 'I'], dtype=object)

In [21]:
#add properties or methods to properties
series1.index.dtype

dtype('O')

In [22]:
#values or index conversion
list_eg = series1.index.to_list()
list_eg

['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X']

In [23]:
#check dtype
series1.dtype

dtype('int64')

In [24]:
#access value of series 
#display value at index position
series1[1]

-8

In [25]:
#can use this method as well for above
series1.iloc[4]

-2

In [26]:
#display value at index name
series1['V']

-2

In [27]:
#can use this method as well for above
series1.loc['I']

-10

In [28]:
#replace values inplace for series1
series1['VII']= 18
series1

I      -10
II      -8
III     -6
IV      -4
V       -2
VI       0
VII     18
VIII     4
IX       6
X        8
dtype: int64

In [42]:
#Excersis 1.2
#create own dataframe
data = {'Gender': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Age': [20, 25, 30]}
#order columns by specifying columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
df

  Emp_ID Gender  Age
0    E01      F   20
1    E02      M   25
2    E03      M   30

In [31]:
#select column of dataframe
df['Age']

0    20
1    25
2    30
Name: Age, dtype: int64

In [32]:
# implement functionality to the series
type(df['Age'])

pandas.core.series.Series

In [35]:
#view of data
age = df['Age']
#replace value in series
age[0] = 21
age

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0    21
1    25
2    30
Name: Age, dtype: int64

In [36]:
#change to original
df

  Emp_ID Gender  Age
0    E01      F   21
1    E02      M   25
2    E03      M   30

In [38]:
#load dataframes by read_[file format] which loads a csv file of a kaggle competiton dataset
kaggle = pd.read_csv('https://raw.githubusercontent.com/DanRHowarth/DSfIOT_MeetUps/master/train.csv')

#check dataframe loaded and look at subsection
kaggle.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]