<a href="https://colab.research.google.com/github/anjali88/Basic-ML-/blob/master/Pushpanjali_banik_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## import libaries for series
import numpy as np
import pandas as pd

#create series by passing values and create custom indexes
#Labelled index reference for each row, may have multiple values
P = pd.Series ([1,2,3,4,5,np.nan], index=['a','b','c','d','e','f'])

print ("Pandas Series from value list and index list: ")
print (P)

Pandas Series from value list and index list:
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [2]:
#convert dictornary using keys from the index
sample_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e': 5, 'f':np.nan}
sample_dict

B = pd.Series(sample_dict)
print ("Pandas series from dictonary")
print(B)

Pandas series from dictonary
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [3]:
#create series by passing in other functions
series1 = pd.Series(np.arange(-10,10,2))

#series is created with assigned index in numerical order
series1

0   -10
1    -8
2    -6
3    -4
4    -2
5     0
6     2
7     4
8     6
9     8
dtype: int64