<a href="https://colab.research.google.com/github/anjali88/Basic-ML-/blob/master/Pushpanjali_banik_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
#Excersise 1.1 -SERIES
##import libaries for series
import numpy as np
import pandas as pd

#create series by passing values and create custom indexes
#Labelled index reference for each row, may have multiple values
P = pd.Series ([1,2,3,4,5,np.nan], index=['a','b','c','d','e','f'])

print ("Pandas Series from value list and index list: ")
print (P)

Pandas Series from value list and index list:
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [8]:
#convert dictornary using keys from the index
sample_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e': 5, 'f':np.nan}
sample_dict

B = pd.Series(sample_dict)
print ("Pandas series from dictonary")
print(B)

Pandas series from dictonary
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [9]:
#create series by passing in other functions
series1 = pd.Series(np.arange(-10,10,2))

#series is created with assigned index in numerical order
series1

0   -10
1    -8
2    -6
3    -4
4    -2
5     0
6     2
7     4
8     6
9     8
dtype: int64

In [10]:
#pass in list and define datatype to create series
series_list = pd.Series(list('1234'))#,dtype=int)
series_list

0    1
1    2
2    3
3    4
dtype: object

In [11]:
#change datatype
series_list = series_list.astype(str)

#call the values of a series
series_list.values

array(['1', '2', '3', '4'], dtype=object)

In [12]:
#create series using timeseries information
time_eg = pd.Series(index=pd.date_range('20191101',periods=4,freq='M'))
time_eg

2019-11-30   NaN
2019-12-31   NaN
2020-01-31   NaN
2020-02-29   NaN
Freq: M, dtype: float64

In [13]:
#pass own index values as series is created
series3 = pd.Series(np.arange(0,4),index=['I','II','III','IV'])
series3

I      0
II     1
III    2
IV     3
dtype: int64

In [14]:
#pass own index after series is created
#create series
series3 = pd.Series(['IV','III','II','I'])
series3

0     IV
1    III
2     II
3      I
dtype: object

In [15]:
#add the index
series1.index=['I','II', 'III','IV','V','VI','VII','VIII','IX','X']
series1

I      -10
II      -8
III     -6
IV      -4
V       -2
VI       0
VII      2
VIII     4
IX       6
X        8
dtype: int64

In [16]:
#name own series
series3.name = 'series3'
series3

0     IV
1    III
2     II
3      I
Name: series3, dtype: object

In [17]:
#set index name
series3.index.name = 'digits'
series3

digits
0     IV
1    III
2     II
3      I
Name: series3, dtype: object

In [18]:
#if index is a range: index characteristics
series3.index

RangeIndex(start=0, stop=4, step=1, name='digits')

In [19]:
# or if its object
series1.index

Index(['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'], dtype='object')

In [20]:
# also if values
series3.values

array(['IV', 'III', 'II', 'I'], dtype=object)

In [21]:
#add properties or methods to properties
series1.index.dtype

dtype('O')

In [22]:
#values or index conversion
list_eg = series1.index.to_list()
list_eg

['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X']

In [23]:
#check dtype
series1.dtype

dtype('int64')

In [24]:
#access value of series 
#display value at index position
series1[1]

-8

In [25]:
#can use this method as well for above
series1.iloc[4]

-2

In [26]:
#display value at index name
series1['V']

-2

In [27]:
#can use this method as well for above
series1.loc['I']

-10

In [28]:
#replace values inplace for series1
series1['VII']= 18
series1

I      -10
II      -8
III     -6
IV      -4
V       -2
VI       0
VII     18
VIII     4
IX       6
X        8
dtype: int64

In [42]:
#Excersis 1.2 - DATAFRAMES
#create own dataframe
data = {'Gender': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Age': [20, 25, 30]}
#order columns by specifying columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
df

  Emp_ID Gender  Age
0    E01      F   20
1    E02      M   25
2    E03      M   30

In [31]:
#select column of dataframe
df['Age']

0    20
1    25
2    30
Name: Age, dtype: int64

In [32]:
# implement functionality to the series
type(df['Age'])

pandas.core.series.Series

In [35]:
#view of data
age = df['Age']
#replace value in series
age[0] = 21
age

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0    21
1    25
2    30
Name: Age, dtype: int64

In [36]:
#change to original
df

  Emp_ID Gender  Age
0    E01      F   21
1    E02      M   25
2    E03      M   30

In [38]:
#load dataframes by read_[file format] which loads a csv file of a kaggle competiton dataset
kaggle = pd.read_csv('https://raw.githubusercontent.com/DanRHowarth/DSfIOT_MeetUps/master/train.csv')

#check dataframe loaded and look at subsection
kaggle.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [47]:
# another method is to load a dataframe and point the parameters of the load
# method to data and column values. 

# here we are loading in data from the scikit learn library
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()

# load dataframe
df_eg = pd.DataFrame(data.data, columns = data.feature_names)
df_eg.head()

   mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [48]:
df_eg.tail()

     mean radius  mean texture  ...  worst symmetry  worst fractal dimension
564        21.56         22.39  ...          0.2060                  0.07115
565        20.13         28.25  ...          0.2572                  0.06637
566        16.60         28.08  ...          0.2218                  0.07820
567        20.60         29.33  ...          0.4087                  0.12400
568         7.76         24.54  ...          0.2871                  0.07039

[5 rows x 30 columns]

In [49]:

#Excersise 1.3
# line numpy, pandad has a shape method
print ('the number of features in the data set is: '),kaggle.shape[1]
print ('the number if datapoints in the data set is: '), kaggle.shape[0]

the number of features in the data set is:
the number if datapoints in the data set is:

(None, 1460)

In [52]:
#get datatype of columns which can be helpful for understanding preprocessing objective
#select a subset of the 60 columns
kaggle.dtypes[0:10]

Id               int64
MSSubClass       int64
MSZoning        object
LotFrontage    float64
LotArea          int64
Street          object
Alley           object
LotShape        object
LandContour     object
Utilities       object
dtype: object

In [53]:
#get a view of the column names
print("Column Names:",df_eg.columns)

Column Names: Index(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension'],
      dtype='object')

In [54]:
#get index detail
#index is just row numbers so it will return the value range
print("DataFrame Index: ", kaggle.index)

DataFrame Index:  RangeIndex(start=0, stop=1460, step=1)

In [55]:
#access a specific columns value
kaggle['Fence']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
1455      NaN
1456    MnPrv
1457    GdPrv
1458      NaN
1459      NaN
Name: Fence, Length: 1460, dtype: object

In [56]:
kaggle['MSSubClass']

0       60
1       20
2       60
3       70
4       60
        ..
1455    60
1456    20
1457    70
1458    20
1459    20
Name: MSSubClass, Length: 1460, dtype: int64

In [57]:
kaggle['Fence'].unique()

array([nan, 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object)

In [58]:
#sort dataframe by certain column values
#doesnt reorder the columns
kaggle.sort_values(by=['SaleCondition','YrSold'])[0:10]

      Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
3      4          70       RL  ...        WD        Abnorml    140000
40    41          20       RL  ...        WD        Abnorml    160000
91    92          20       RL  ...        WD        Abnorml     98600
129  130          20       RL  ...        WD        Abnorml    150000
144  145          90       RM  ...     ConLI        Abnorml    125000
197  198          75       RL  ...        WD        Abnorml    235000
303  304          20       RL  ...        WD        Abnorml    149900
351  352         120       RL  ...        WD        Abnorml    190000
358  359          80       RL  ...        WD        Abnorml    130000
393  394          30       RL  ...        WD        Abnorml    100000

[10 rows x 81 columns]

In [59]:
#Excersise 1.4 - ACCESSING AND FILTERING VALUES
#selection or view of column name
df_eg['mean area'][0:10]

0    1001.0
1    1326.0
2    1203.0
3     386.1
4    1297.0
5     477.1
6    1040.0
7     577.9
8     519.8
9     475.9
Name: mean area, dtype: float64

In [60]:
#selection by row numbers
kaggle[0:4]

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000

[4 rows x 81 columns]

In [61]:
#selection by label index
kaggle.loc[0:4]

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [62]:
#selection by position
kaggle.iloc[0:4]

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000

[4 rows x 81 columns]

In [63]:
#selection by index of specific label names
#dont use iloc 
print(kaggle.loc[0:4,['YrSold','ScreenPorch']])

   YrSold  ScreenPorch
0    2008            0
1    2007            0
2    2008            0
3    2006            0
4    2008            0

In [64]:
#selection by row and column between rows as range
kaggle.iloc[0:3,0:4]

   Id  MSSubClass MSZoning  LotFrontage
0   1          60       RL         65.0
1   2          20       RL         80.0
2   3          60       RL         68.0

In [68]:
#selection by row and column position between given specific row number
kaggle.iloc[[1,3,4],[0,4]]

   Id  LotArea
1   2     9600
3   4     9550
4   5    14260

In [69]:
#select element at index 1, 1
print(kaggle.iloc[1,1])

20

In [70]:
#select column by position
print(kaggle.iloc[:, 3])

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [73]:
#filter dataframe based on value condition on one column
#view only 11 rows
kaggle[kaggle['YearBuilt'] > 1958][0:11]

    Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0    1          60       RL  ...        WD         Normal    208500
1    2          20       RL  ...        WD         Normal    181500
2    3          60       RL  ...        WD         Normal    223500
4    5          60       RL  ...        WD         Normal    250000
5    6          50       RL  ...        WD         Normal    143000
6    7          20       RL  ...        WD         Normal    307000
7    8          60       RL  ...        WD         Normal    200000
10  11          20       RL  ...        WD         Normal    129500
11  12          60       RL  ...       New        Partial    345000
12  13          20       RL  ...        WD         Normal    144000
13  14          20       RL  ...       New        Partial    279500

[11 rows x 81 columns]

In [75]:
#filter based on multiple conditions on multiple columns using AND operator
kaggle[(kaggle['YearBuilt']>2000) & (kaggle['YrSold']>2000)][0:15]

    Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0    1          60       RL  ...        WD         Normal    208500
2    3          60       RL  ...        WD         Normal    223500
6    7          20       RL  ...        WD         Normal    307000
11  12          60       RL  ...       New        Partial    345000
13  14          20       RL  ...       New        Partial    279500
18  19          20       RL  ...        WD         Normal    159000
20  21          60       RL  ...       New        Partial    325300
22  23          20       RL  ...        WD         Normal    230000
25  26          20       RL  ...        WD         Normal    256300
27  28          20       RL  ...        WD         Normal    306000
32  33          20       RL  ...        WD         Normal    179900
34  35         120       RL  ...        WD         Normal    277500
35  36          60       RL  ...        WD         Normal    309000
45  46         120       RL  ...        WD         Normal    319900
46  47          50       RL  ...        WD        Abnorml    239686

[15 rows x 81 columns]