<a href="https://colab.research.google.com/github/anjali88/Basic-ML-/blob/master/Pushpanjali_banik_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Excersise 1.1 
##import libaries for series
import numpy as np
import pandas as pd

#create series by passing values and create custom indexes
#Labelled index reference for each row, may have multiple values
P = pd.Series ([1,2,3,4,5,np.nan], index=['a','b','c','d','e','f'])

print ("Pandas Series from value list and index list: ")
print (P)

Pandas Series from value list and index list:
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [2]:
#convert dictornary using keys from the index
sample_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e': 5, 'f':np.nan}
sample_dict

B = pd.Series(sample_dict)
print ("Pandas series from dictonary")
print(B)

Pandas series from dictonary
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [3]:
#create series by passing in other functions
series1 = pd.Series(np.arange(-10,10,2))

#series is created with assigned index in numerical order
series1

0   -10
1    -8
2    -6
3    -4
4    -2
5     0
6     2
7     4
8     6
9     8
dtype: int64

In [4]:
#pass in list and define datatype to create series
series_list = pd.Series(list('1234'))#,dtype=int)
series_list

0    1
1    2
2    3
3    4
dtype: object

In [5]:
#change datatype
series_list = series_list.astype(str)

#call the values of a series
series_list.values

array(['1', '2', '3', '4'], dtype=object)

In [7]:
#create series using timeseries information
time_eg = pd.Series(index=pd.date_range('20191101',periods=4,freq='M'))
time_eg

2019-11-30   NaN
2019-12-31   NaN
2020-01-31   NaN
2020-02-29   NaN
Freq: M, dtype: float64

In [8]:
#pass own index values as series is created
series3 = pd.Series(np.arange(0,4),index=['I','II','III','IV'])
series3

I      0
II     1
III    2
IV     3
dtype: int64

In [9]:
#pass own index after series is created
#create series
series3 = pd.Series(['IV','III','II','I'])
series3

0     IV
1    III
2     II
3      I
dtype: object

In [19]:
#add the index
series1.index=['I','II', 'III','IV','V','VI','VII','VIII','IX','X']
series1

I      -10
II      -8
III     -6
IV      -4
V       -2
VI       0
VII      2
VIII     4
IX       6
X        8
dtype: int64

In [11]:
#name own series
series3.name = 'series3'
series3

0     IV
1    III
2     II
3      I
Name: series3, dtype: object

In [12]:
#set index name
series3.index.name = 'digits'
series3

digits
0     IV
1    III
2     II
3      I
Name: series3, dtype: object

In [13]:
#if index is a range: index characteristics
series3.index

RangeIndex(start=0, stop=4, step=1, name='digits')

In [20]:
# or if its object
series1.index

Index(['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'], dtype='object')

In [21]:
# also if values
series3.values

array(['IV', 'III', 'II', 'I'], dtype=object)

In [24]:
#add properties or methods to properties
series1.index.dtype

dtype('O')

In [25]:
#values or index conversion
list_eg = series1.index.to_list()
list_eg

['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X']

In [26]:
#check dtype
series1.dtype

dtype('int64')

In [27]:
#access value of series 
#display value at index position
series1[1]

-8

In [28]:
#can use this method as well for above
series1.iloc[4]

-2

In [29]:
#display value at index name
series1['V']

-2

In [30]:
#can use this method as well for above
series1.loc['I']

-10

In [31]:
#replace values inplace for series1
series1['VII']= 18
series1

I      -10
II      -8
III     -6
IV      -4
V       -2
VI       0
VII     18
VIII     4
IX       6
X        8
dtype: int64